html {
    background-color: #14191e;
    color: #dbdbdb;
}

.ascii-art {
    line-height: 1;
    text-align: left;
}

.header-text {
    background-color: #14191e;
    padding: 1vw;
    font-family: 'Courier New', monospace;
    max-height: 50vh;
    padding-bottom:0;
}

form {

    padding-left: 1vw;
    /* Add left padding to the form */
    font-family: 'Courier New', monospace;
}

form div {
    text-align: left;
}

form div.button {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 80%; /* Take full width to ensure centering works */
    padding: 1.5rem
}

.terminal-button {
    background-color: #14191e;
    color: #dbdbdb;
    margin: 0; 
    border: none;
    padding: 10px 20px;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid #555;
}

.terminal-button:hover, .terminal-button:focus {
    color: #14191e;
    background-color: #dbdbdb;
}


input {
    background-color: #14191e;
    color: #dbdbdb;
    border: 1px solid #14191e;
    padding: 0.5vw;
    width: calc(70% - 2vw);
    font-family: 'Courier New', monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input:focus {
    outline: none;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.text-box, .name-box {
    width: 80%;
    font-family: 'Courier New', monospace;
    white-space: pre-line;
    flex: 1; 
}

  
.name-box {
    text-align: center; /* Center text inside the nameBox */
    /* font-weight: bold; */
}
  

.text-box {
    padding-left: 2vw;
} 

.center-text {
    text-align: center;
}

.game-display {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
  

